# Python packages listed in awesome-spectra
# =========================================
# Astrophysics & Astronomy Spectra
# --------------------------------
ChiantiPy
pyhdust
pyspeckit
specutils
#radiospectra # not on Pypi ?
SpectroscoPyx
# Atmospheric Spectra
# -------------------
#Py4CAtS # not on GitHub / PyPi
git+git://github.com/wblumberg/PyLBLRTM.git#egg=PyLBLRTM
# FTIR & Organic Spectra
# ----------------------
pyspectra
specio
# Infrared Spectroscopy
# ---------------------
hitran-api # hapi 
radis
# MDS Spectroscopy
# ----------------
# Raman Spectroscopy
# ------------------
rampy
# UV / Visible Spectroscopy
# -------------------------
scikit-spectra
# Spectral inference
# ------------------
astrostarfish
# Post-processing
# ---------------
