# Python packages listed in awesome-spectra
# =========================================
# Astrophysics & Astronomy Spectra
# --------------------------------
ChiantiPy
-e git://github.com/exoclime/helios.git#egg=helios
pyhdust
pyspeckit
specutils
#radiospectra # not on Pypi ?
SpectroscoPyx
# Atmospheric Spectra
# -------------------
#Py4CAtS # not on GitHub / PyPi
-e git://github.com/wblumberg/PyLBLRTM.git#egg=PyLBLRTM
# FTIR & Organic Spectra
# ----------------------
pyspectra
specio
# Infrared Spectroscopy
# ---------------------
hitran-api # hapi
-e git://github.com/exoclime/HELIOS-K.git#egg=helios-k
radis
# MDS Spectroscopy
# ----------------
# Raman Spectroscopy
# ------------------
rampy
# UV / Visible Spectroscopy
# -------------------------
scikit-spectra
# Spectral inference
# ------------------
astrostarfish
# Post-processing
# ---------------
